Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
prometheus/
logs/
config/grafana/alerting
config/grafana/csv
config/grafana/png
config/grafana/plugins
config/grafana/grafana.db